.apply, .learn-to-code, .build-products {
  box-shadow: 0 0 15px rgba(220, 220, 220, 1.0);
  text-align: center;
  border-radius: 4px;
}

.apply p {
  font-size: 16px;
}

.apply img {
  max-width: 215px;
  max-height: 200px;
}

.learn-to-code img {
  max-width: 215px;
  max-height: 200px;
}

.build-products img {
  max-width: 215px;
  max-height: 200px;
}
